.login{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .loginContainer{
        flex: 1;
        background-color: whitesmoke;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        position: relative;

        .loginCard{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            padding: 10px;
            margin: 20px;
            display: flex;
            background-color: #fff;
            width: 500px;
            height: 500px;
            position: absolute;
            top: 5%;
            right: 28%;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;

            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }

            h1{
                margin: 10px;
                color: #6439ff;;
                font-size: 30px;
                font-weight: bold;
                border-bottom: 1px solid #6439ff;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 90%;

                .formInput{

                    label{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .icon{
                            cursor: pointer;
                        }
                    }

                    input{
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid teal;

                        &:focus{
                            outline: none;
                            box-shadow: 0 0 5px #719ECE;
                            border: 1px solid teal;
                        }

                    }
                }

                .forgetLink{
                    display: flex;
                    align-self: flex-end;
                    color: teal;
                    font-weight: 300;
                    cursor: pointer;

                    &:hover{
                        font-weight: bold;
                        border-bottom: 0.5px dotted teal;
                        
                    }
                }

                button{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 10px;

                    &:hover{
                        // width: 105%;
                        // font-weight: 500;
                        background-color: #006666;

                    }
                }
            }

            ul{
                padding: 15px;
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 75%;
                justify-content: center;
                align-items: center;
                height: max-content;
                gap: 20px;

                .navLink{
                    font-size: 24px;
                    font-weight: 700;
                    color: #6439ff;
                }
            }
        }

    }
}